################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Bao_Cao_.NET/v17
/.vs/Bao_Cao_.NET/v17
/.vs/Bao_Cao_.NET/v17
/.vs/Bao_Cao_.NET/v17
/.vs/Bao_Cao_.NET/v17
/.vs/Bao_Cao_.NET/v17
/.vs/Bao_Cao_.NET/v17
