# ------------------------------------
# 1. Thư mục biên dịch (Build Results)
# ------------------------------------
[Bb]in/
[Oo]bj/
[Dd]ebug/
[Rr]elease/

# ------------------------------------
# 2. Files Cấu hình Visual Studio
# ------------------------------------
.vs/
*.suo
*.user
*.vcxproj.user
*.*log

# ------------------------------------
# 3. File SQL Server
# ------------------------------------
*.mdf
*.ldf
*.bak